@model WebApp.Models.MaintenanceViewModels.ProductDetailsViewModel
@using WebApp.Models.CommonViewModels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Maintenance/_Layout.cshtml";
}

<div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductCode)</th>
            <td>@Model.ProductCode</td>
            <th>@Html.DisplayNameFor(model => model.ProductDescription)</th>
            <td colspan="5">@Model.ProductDescription</td>
            <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
            <td>@Model.ProductPrice</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BrandName)</th>
            <td>@Model.BrandName</td>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <td>@Model.CategoryName</td>

            <th>@Html.DisplayNameFor(model => model.IsFeatureItem)</th>
            <td><input asp-for="IsFeatureItem" type="checkbox" /></td>
            <th>@Html.DisplayNameFor(model => model.IsRecommendedItem)</th>
            <td><input asp-for="IsRecommendedItem" type="checkbox" /></td>
            <th>@Html.DisplayNameFor(model => model.IsSliderItem)</th>
            <td><input asp-for="IsSliderItem" type="checkbox" /></td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br />
<hr />

<form method="post" enctype="multipart/form-data"
      asp-controller="UploadFiles" asp-action="Index">
    <div class="col-md-6">
        <div class="col-sm-7">
            <input type="file" name="files" />
        </div>
        <input type="submit" value="Upload" />
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label></label>
            <div class="col-sm-10">
                <select class="form-control"
                        asp-items="@(new SelectList(ViewBag.PageLocations,"Key","Value"))">
                    <option>Please select a location</option>
                </select>
            </div>
        </div>
    </div>
</form>

<br />
<hr />
<div class="col-md-12">
    @await Component.InvokeAsync("PhotoImage", new { productId = Model.Id })
</div>

@section MaintenanceSection{
    @await Html.PartialAsync("_MaintenanceHeaderPartial", (KeyValue)ViewBag.MaintenanceHeader)
}

