
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Maintenance/_Layout.cshtml";
}



<table class="table em75">
    <thead>
        <tr>
            <th rowspan="2">Code</th>
            <th rowspan="2">Description</th>
            <th rowspan="2">Price</th>
            <th rowspan="2">Promotion</th>
            <th rowspan="2">Brand</th>
            <th rowspan="2">Category</th>
            <th colspan="3">Page Location</th>
        </tr>
        <tr>
            <th>Feature</th>
            <th>Recommended</th>
            <th>Slider</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
        <tr>
            <td><b><a asp-action="Details" asp-route-id="@row.Id">
                @row.ProductCode</a></b>
            </td>
            <td>@row.ProductDescription</td>
            <td>@row.ProductPrice</td>
            <td>@row.PromotionType</td>
            <td>@row.BrandName</td>
            <td>@row.CategoryName</td>
            <td>@row.IsFeatureItem</td>
            <td>@row.IsRecommendedItem</td>
            <td>@row.IsSliderItem</td>
        </tr>
        }
    </tbody>
</table>

