@model WebApp.Entities.PhotoImage
@using WebApp.Services
@using WebApp.Models.CommonViewModels
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Maintenance/_Layout.cshtml";
}

@if (TempData["fileUploadSucces"] != null)
{
    var kv = JsonConvert.DeserializeObject<KeyValuePair<bool, string>>(
            TempData["fileUploadSucces"].ToString()
        );

    if (kv.Key)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @kv.Value
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @kv.Value
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data"
              asp-controller="PhotoImages" asp-action="UploadProductImage">
            <div class="col-sm-4">
                <input type="file" name="file" />
                <input type="hidden" name="pagelocation" value="@Model.PageLocation" />
                <input type="hidden" name="productId" value="@Model.ProductId" />
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload file
                </button>
            </div>
            <div class="col-sm-4 bg-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                If a file exists for this location, it will be replaced.
            </div>
        </form>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label></label>
                <div class="col-sm-4">
                    <select class="form-control"
                            asp-items="@(new SelectList(ViewBag.PageLocations,"Key","Value"))">
                        <option>Please select a location</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Downsize an existing file
                    </button>
                </div>
                <div class="col-sm-4 bg-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Only picture with higher dimensions can be downsized.
                </div>
            </div>
        </form>
    </div>
</div>

<hr />

@if (Model != null)
{
    <div class="well">
        <div class="row">
            <div class="col-sm-2">
                <img src="@Model.Id.SetImageUrl()" width="85" class="img-thumbnail" alt="Cinque Terre">
            </div>
            <div class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <td>@Model.Id.DisplayEmptyStringIfDefault()</td>
                        <th>Width</th>
                        <td>@Model.Width</td>
                    </tr>
                    <tr>
                        <th>Original Name</th>
                        <td>@Model.OriginalName</td>
                        <th>Height</th>
                        <td>@Model.Height</td>
                    </tr>
                    <tr>
                        <th>PageLocation</th>
                        <td>@Model.PageLocation</td>
                        <th>Resolution</th>
                        <td>@Model.Resolution</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@Model.Description</td>
                        <th>File Extension</th>
                        <td>@Model.FileExtension</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@section MaintenanceSection{
    @await Html.PartialAsync("_MaintenanceHeaderPartial", (KeyValue)ViewBag.MaintenanceHeader)
}


